<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ECShop_mobile</title>
</head>

<body>
<div>
<ul style="list-style-type:none">
{foreach from=$goods_data item=goods}
    <!-- {$goods.i}.<a href='goods.php?id={$goods.id}'>{$goods.name}</a>[{$goods.price}]<br/> -->
    <li style="float:left; width:30%; height:30%; padding-top:15%; padding-left:2.5%;">
	<a href="goods.php?id={$goods.id}">
		<img src="./../{$goods.img}" alt="{$goods.thumb}" class="goodsimg"/>
	</a>
    </li>
{foreachelse}
{/foreach}
</ul>
</div>
</body>
</html>
